Diagonal/* linguist-vendored=false
Gifts/* linguist-vendored=false
Hangman Client:Server/* linguist-vendored=false
Pipes Calculator/* linguist-vendored=false
Sockets Guessing/* linguist-vendored=false
